<section *ngFor="let item of items">
  <h1>{{ item.firstFormVerb }}</h1>
  <table>
    <!-- Header row -->
    <tr class="header">
      <th class="column1">{{ tableHeaders.first }}</th>
      <th class="column2">{{ tableHeaders.second }}</th>
      <th class="column3">{{ tableHeaders.third }}</th>
      <th class="translation">{{ tableHeaders.translation }}</th>
    </tr>

    <!-- Data rows -->
    <!-- be -->
    <tr class="verbsName">
      <td class="column1">{{item.firstFormVerb }}</td>
      <td class="column2">{{ item.secondFormVerb }}</td>
      <td class="column3">{{ item.thirdFormVerb }}</td>
      <td class="translation" rowspan="2">{{ item.translation }}</td>
    </tr>

    <!-- example be  -->
    <tr class="verbsExample">
      <td class="column1" [innerHTML]="item.firstExample"></td>
      <td class="column2" [innerHTML]="item.secondExample"></td>
      <td class="column3" [innerHTML]="item.thirdExample"></td>
    </tr>
  </table>
</section>

